
body{
    background-color: oklch(54.6% 0.245 262.881);
    color:#d1d1c1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

#cabecalho {
    background-color: #1c2b3c;
}

#menu {
    background-color: rgb(58, 4, 49);
}

#menu ul {
    list-style: none;
}

#menu ul li {
    display: inline-block;
    width: 20%;
}

main{
    max-width: 800px;
    /* margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto; */
    /* margin: 0 auto 0 auto; */
    margin: 0 auto;
}

#cabecalho{
    background-color: #1c2b3c;
}

menu ul{
    list-style: none;
}

#menu ul li{
    display: inline-block;
    width: 20%;
}
